a,
button,
input,
select,
h1,
h2,
h3,
h4,
h5,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  background: none;

}

menu,
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html, body {
  height: auto;
  width: 100%;
  position: center;
}
body {
  background: linear-gradient(
    180.01deg,
    rgba(238, 189, 96, 1) 0%,
    rgba(237, 188, 96, 1) 100%
  );

}

.wireframe-15 {
  position: absolute;
  top: 50%;
  min-height: 100%;
  height: auto;
  padding-bottom: 50px;
  z-index: 2;
}

.vaundy-bg {
  position: relative; 
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2px);
  z-index: -12; 
  opacity: 0.8;
}

.fixed-chevrons-left {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 1000;
  width: 40px;
  height: 40px;
}
.fixed-chevrons-left img {
  width: 100%;
  height: 100%;
}

